# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*            @microsoft/fluentui-native

# cocoapod related files or version updates require admin approval
Podfile    @microsoft/fluentui-native-admin
*.podspec  @microsoft/fluentui-native-admin
info.plist @microsoft/fluentui-native-admin
*.nuspec   @microsoft/fluentui-native-admin
*.yml      @microsoft/fluentui-native-admin
*.xcconfig @microsoft/fluentui-native-admin

# any scripts added to repo require admin approval
*.sh       @microsoft/fluentui-native-admin
*.js       @microsoft/fluentui-native-admin