# Xcode
# From https://github.com/github/gitignore/blob/master/Swift.gitignore

*.DS_Store

# Build generated
build/
DerivedData/
node_modules/
*-publish.nuspec

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# JetBrains AppCode IDE
app-ios/.idea/
.idea

# Visual Studio
*.suo
.vs/
[Oo]bj/

# Ruby Gems
Gemfile.lock
