//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = UBF8T346G9
INFOPLIST_FILE = FluentUI.Tests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.FluentUITests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
