//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

CLANG_ENABLE_MODULES = YES
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES
DEVELOPMENT_TEAM = UBF8T346G9
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = FluentUI/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
MARKETING_VERSION = 0.0.2
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.FluentUI
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
SKIP_INSTALL = YES
SWIFT_VERSION = 5.0
APPLICATION_EXTENSION_API_ONLY = YES
