//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

CODE_SIGN_STYLE = Automatic
MTL_FAST_MATH = YES
OTHER_LDFLAGS = -ObjC
PRODUCT_NAME = FluentUI
SKIP_INSTALL = YES
SWIFT_VERSION = 5.0

// Objective C header file paths
FLUENT_HSP_INPUT = $(DERIVED_SOURCES_DIR)
FLUENT_HSP_OUTPUT = $(BUILT_PRODUCTS_DIR)/include/$(PRODUCT_MODULE_NAME)
