name: Pod-Publish
on:
  push:
    tags:
      - 0.[0-9]+.[0-9]+ # Run automatically on new tags matching a 0.N.M pattern

jobs:
  Pod-Publish:
    runs-on: macOS-11.0
    
    steps:
    - uses: actions/checkout@v2
    - name: Switch to current version of Xcode
      run: scripts/xcode_select_current_version.sh
    - name: Publish to CocoaPod register
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
      run: scripts/publishCocoaPod.sh
